.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.m1{
  position: absolute;
          top: 38%;
          left: 505px;
}

.m12{
  position: absolute;
          top: 38%;
          left: 505px;
          animation: 1s   1 trambling-animation; 
          opacity: 0;
}

.m2{
  position: absolute;
          top: 10px;
          left: 10px;

          font-size: 70px;
          color: #fff;
          display: flex;
          align-items: center;
}
.m22{
  position: absolute;
          top: 10px;
          left: 10px;
          font-size: 70px;
          color: #fff;
          display: flex;
          align-items: center;
          animation: 1s   1 trambling-animation; 
          opacity: 0;
}

.m3{
  position: absolute;
          top: 10px;
          right: 10px;

          font-size: 70px;
          color: #fff;
          display: flex;
          align-items: center;
}
.m32{
  position: absolute;
          top: 10px;
          right: 10px;

          font-size: 70px;
          color: #fff;
          display: flex;
          align-items: center;
          animation: 1s   1 trambling-animation; 
          opacity: 0;
}

.m4{
  position: absolute;
          top: 45%;
          left: 900px;
          animation: firm;
          
          color: brown;
          
}

.m42{
  position: absolute;
          top: 38%;
          left: 900px;
          
          opacity: 0;
}


@keyframes trambling-animation {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes firm {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}